<mat-sidenav-container [hasBackdrop]="true"
                       class="sidenav-container">

  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(mQuery.tablet | async).matches ? 'dialog' : 'navigation'"
    [mode]="(mQuery.tablet | async).matches ? 'over' : 'side'">

    <mat-toolbar color="primary">Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="ml-3">Angular 6 Starter</span>
    </mat-toolbar>

    <ng-content></ng-content>

    <mat-toolbar class="justify-content-between" color="primary">
      <span>Angular 6 Starter</span>
      <span>Code by Jordan &copy;{{year}}</span>
    </mat-toolbar>
  </mat-sidenav-content>

</mat-sidenav-container>
