@import '~@angular/material/theming';

// Bootstrap functions
//
// Utility mixins and functions for evalutating source code across our variables, maps, and mixins.

// Ascending
// Used to evaluate Sass maps like our grid breakpoints.
@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // Do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}

// Starts at zero
// Another grid mixin that ensures the min-width of the lowest breakpoint starts at 0.
@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "First breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

// stylelint-disable
$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
), $spacers);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$enable-grid-classes:    true;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


//
// Colors
//

// Palettes
$primary-palette:                   mat-palette($mat-blue, 500, 100, 700);
$accent-palette:                    mat-palette($mat-light-green, A400, A200, A700);
$warn-palette:                      mat-palette($mat-red, A700, A400, A900);

$lt-theme-colors:                   mat-light-theme($primary-palette, $accent-palette, $warn-palette);
$dk-theme-colors:                   mat-dark-theme($primary-palette, $accent-palette, $warn-palette);

$lt-background-palette:             map-get($lt-theme-colors, background);
$lt-foreground-palette:             map-get($lt-theme-colors, foreground);

$dk-background-palette:             map-get($dk-theme-colors, background);
$dk-foreground-palette:             map-get($dk-theme-colors, foreground);

// Common Colors
$primary:                           map-get($primary-palette, default);
$accent:                            map-get($accent-palette, default);
$warning:                           map-get($warn-palette, default);
$white:                             $light-primary-text;
$black:                             $dark-primary-text;
$light-disabled-text:               map-get($mat-grey, 600);

//
// Typography
//
// @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
$font-family:   "Montserrat Alternates, Helvetica Neue, sans-serif";
$display-4:     mat-typography-level(96px, 96px, 600);
$display-3:     mat-typography-level(56px, 56px, 600);
$display-2:     mat-typography-level(42px, 42px, 600);
$display-1:     mat-typography-level(34px, 42px, 600);
$headline:      mat-typography-level(30px, 34px, 600);
$title:         mat-typography-level(24px, 36px, 600);
$subheading-2:  mat-typography-level(22px, 32px, 600);
$subheading-1:  mat-typography-level(18px, 25px, 600);
$body-2:        mat-typography-level(16px, 26px, 600);
$body-1:        mat-typography-level(16px, 26px, 600);
$caption:       mat-typography-level(14px, 20px, 600);
$button:        mat-typography-level(20px, 36px, 600);
$input:         mat-typography-level(inherit, 1.125, 600);

$cbj-typography:    mat-typography-config(
        $font-family, $display-4, $display-3, $display-2, $display-1,
        $headline, $title, $subheading-2, $subheading-1, $body-2, $body-1,
        $caption, $button, $input
);

$font-family-monospace:             'Space Mono', monospace;
$font-base:                         map-get($cbj-typography, body-2);
$font-family:                       map-get($font-base, font-family);
$font-size-base:                    map-get($font-base, font-size);
$font-weight-base:                  map-get($font-base, font-weight);
$line-height-base:                  map-get($font-base, line-height);

//
// Buttons
//
$button-text-transform:             uppercase;
